html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

body {
    font-family: arial, sans-serif;
    min-height: 100%;
    position: relative;
}

div.bottom-wrapper {
    display: block;
    min-height: 100%;
    margin: 0 auto -60px;
}

.header {
    display: block;
    background-color: rgba(255,255,255,1);
    font: 13px/27px Arial,sans-serif;
    color: black;
    min-width: 320px;
    position: relative;
    transition: box-shadow 250ms;
    z-index: 986;
}

.upper-bar {

    flex: 1 0 auto;
    padding: 8px;
    min-width: 0;
    transition: background-color .4s;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.upper-bar-a {
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 30px;
    box-sizing: border-box;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
}

.upper-bar-icon {
    position: relative;
    top: 2px;
    align-items: center;
    -webkit-user-select: none;
}

.upper-bar-icon-a {
    padding-left: 12px;
    line-height: normal;
    position: relative;
}

.upper-img-icon {
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.appbar {
    display: block;
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.form-body {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.form-title {
    width: 100%;
    clear: both;
}

.form-title-a {
    clear: both;
}

.form-title-b {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.form-title-c {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.ghost {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.ghost_a {
    float: left;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

.field {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}



.form-field {
    width: 100%;
    clear: both;
}

.field-forms {
    clear: both;
}

.field-a {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle; 
}

.field-b {
   
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.lab-a {
    color: #222;
    line-height: 16px;
}

.field-b {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.b-input {
    padding-right: 16px;
}

.form-input {
    width: 100%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    outline-color:rgb(180, 180, 228);
}

.field-c {
   
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

.field-c-span {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.field-submit {
  
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.buttom-submit {
  
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
}

.buttom {
    
    color: whitesmoke;
    position: relative;
    left: 170px;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    padding: 0 12px;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background: #357ae8;
    border: 1px solid #2f5bb7;
}

.buttom:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8); 
    border: 1px solid #2f5bb7;   
}

.upperFooter {
    display: block;
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.location {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footerBox{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
}

.box-A {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

.box-B {
    order: 2;
    justify-content: center;
}

.box-imgB {
    height: 14px;
    margin-right: 6px;
}

.box-C {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

.footerLinks {
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

a.footerLinks {
    color: #70757a;
}

.links {
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
}

a {
    color: blue;
}



